TestForWsSoap/Web References/localhost/Practice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdatePass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePassResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phonenumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gender" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="goal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="access" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePassForAlmostAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="currentPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePassForAlmostAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePassForAlmostAllResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdatePassSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePass" />
  </wsdl:message>
  <wsdl:message name="UpdatePassSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePassResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePassForAlmostAllSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePassForAlmostAll" />
  </wsdl:message>
  <wsdl:message name="UpdatePassForAlmostAllSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePassForAlmostAllResponse" />
  </wsdl:message>
  <wsdl:portType name="PracticeSoap">
    <wsdl:operation name="UpdatePass">
      <wsdl:input message="tns:UpdatePassSoapIn" />
      <wsdl:output message="tns:UpdatePassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input message="tns:InsertUserSoapIn" />
      <wsdl:output message="tns:InsertUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassForAlmostAll">
      <wsdl:input message="tns:UpdatePassForAlmostAllSoapIn" />
      <wsdl:output message="tns:UpdatePassForAlmostAllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PracticeSoap" type="tns:PracticeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdatePass">
      <soap:operation soapAction="http://tempuri.org/UpdatePass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassForAlmostAll">
      <soap:operation soapAction="http://tempuri.org/UpdatePassForAlmostAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PracticeSoap12" type="tns:PracticeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdatePass">
      <soap12:operation soapAction="http://tempuri.org/UpdatePass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap12:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassForAlmostAll">
      <soap12:operation soapAction="http://tempuri.org/UpdatePassForAlmostAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Practice">
    <wsdl:port name="PracticeSoap" binding="tns:PracticeSoap">
      <soap:address location="https://localhost:44345/WS/Practice.asmx" />
    </wsdl:port>
    <wsdl:port name="PracticeSoap12" binding="tns:PracticeSoap12">
      <soap12:address location="https://localhost:44345/WS/Practice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>